In [ ]:
import pandas as pd
import requests
import io
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
url = "https://gist.githubusercontent.com/omarish/5687264/raw/7e5c814ce6ef33e25d5259c1fe79463c190800d9/mpg.csv"
s = requests.get(url).content
autompg = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [ ]:
autompg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [ ]:
autompg.head()

    mpg  cylinders  displacement  ... model_year  origin                       name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]

In [ ]:
autompg = autompg.dropna()

In [ ]:
cols_to_norm = ['cylinders', 'displacement', 'weight', 'acceleration']

In [ ]:
df_data = pd.DataFrame(autompg[cols_to_norm])
df_target = pd.DataFrame(autompg['mpg'])
df = pd.concat([df_data,df_target],axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_data, df_target,
                                                    test_size = 0.3,
                                                    random_state=42)

In [ ]:
reg_all = LinearRegression()
reg_all.fit(X_train,y_train.values.ravel())
reg_all.score(X_train,y_train)

0.692957993903571

In [ ]:
reg_all.predict(X_test)

array([32.46838477, 27.31966612, 24.4529797 , 15.57664995, 14.09085863,
       30.38760946, 25.11502999,  8.32491711, 17.05167646, 24.39938828,
       13.90216458, 30.98464166, 32.1513017 , 15.96259485, 27.13651369,
        8.12651647, 27.27018072, 22.80137508, 12.07402863, 31.47891542,
       27.85216049, 24.37932483, 23.61265029, 30.39640057, 18.09260368,
       31.84259255, 29.19781387, 25.57789807, 19.85568411,  8.31938429,
       25.39521595, 30.71231036, 16.09915021, 28.85936101, 31.03619785,
       11.41046484, 26.95237052, 18.83409698, 12.55505469, 29.66991322,
       25.07483705, 32.45638811, 24.66400879, 11.03240098, 27.19407137,
       29.23004135, 28.69313554, 26.00427577, 28.84859996, 29.78608633,
       28.32785327, 31.05340181, 29.19566399, 11.16738854, 24.86730301,
       10.71882641, 14.80288646, 25.94471677, 28.47021893, 21.47237708,
       16.19875037, 32.4885269 , 26.56573598, 25.41790084, 24.06224971,
       28.85144442, 25.22347687, 30.63335614, 31.12150917, 15.00016828,
       29.24892988, 14.41908686, 10.63401423, 22.1695793 , 24.19844612,
       20.43629489, 19.60996839, 27.77848385, 30.96544476, 16.83523666,
       18.5627808 , 29.80823774, 31.27613134, 32.23754197, 26.27585138,
       11.28439724, 31.9802384 , 29.56850924, 29.83787181,  7.34083499,
       11.67773987, 28.03538071, 29.51308639, 32.7431266 , 24.54202636,
       29.73823319, 27.12244458, 21.35854339, 24.8152467 , 14.93163701,
       31.71245289, 28.5537863 , 24.70903511, 17.05572096, 19.88834257,
       10.3104255 , 32.7526357 , 10.8134678 , 29.25504265, 31.91683492,
       33.30152061, 27.86966279, 18.8011042 , 31.12563655, 26.31229198,
       28.4285639 , 30.1835019 , 21.02833644, 29.95330474, 21.65573918])