In [3]:
import pandas_datareader.wb as wb
result1 = wb.search(string='SE.PRM.TENR', field='id')

In [7]:
result1.iloc[:,:2]

                  id                                               name
9001     SE.PRM.TENR  Adjusted net enrollment rate, primary (% of pr...
9002  SE.PRM.TENR.FE  Adjusted net enrollment rate, primary, female ...
9003  SE.PRM.TENR.MA  Adjusted net enrollment rate, primary, male (%...

In [9]:
result1.iloc[:,2:]

,source,sourceNote,sourceOrganization,topics
9001,World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education
9002,World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education ; Gender
9003,World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education ; Gender

In [17]:
result1.iloc[2,1]

u'Adjusted net enrollment rate, primary, male (% of primary school age children)'