<a id="syntax"></a>

## Lesson 3 - Python Basics

In this section we will cover some basic aspects of Python using IPython (Jupyter) notebooks. 

### Table of Contents

* [Data Type, Operators 基礎變數資料型別與運算子](#BasicDataType)
* [Python List and Dictionary複合資料型別](#ListDictionary)
* [Python Markdown 製作筆記](#Markdown)

<a id="BasicDataType"></a>

### Basic Data Types

#### Integer

In [1]:
a = 8
type(8)

int

In [2]:
b = 7
c = a + b
c

15

In [3]:
type(c)

int

In [4]:
# Convert Integer to String
d = str(c)
d

'15'

In [5]:
type(d)

str

In [6]:
e = int(d)
e

15

In [7]:
type(e)

int

In [8]:
# String can NOT convert to integer, so this cell will cause exception.
f = "1a2b"
g = int(f)

ValueError: invalid literal for int() with base 10: '1a2b'

In [ ]:
# put source code surround by try-except, handle this situation
try:
    f = "1a2b"
    g = int(f)  
except Exception as e:
    print(e)
    pass

#### Python Operators

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

|  Operator           |  Name  |  Example  |
|:------:|:-----------:|:-------:|
|  +     |  Addition  |  x + y  |
|  -     |  Subtraction  |  x - y  |
|  *     |  Multiplication  |  x * y  |
|  /     |  Division  |  x / y  |
|  %     |  Modulus  |  x % y  |
|  **    |  Exponentiation  |  x ** y  |
|  //    |  Floor division  |  x // y  |

#### Python Assignment Operators

Assignment operators are used to assign values to variables:

|  Operator   |  Example  |  Same As  |
|:------:|:------:|:-------:|
|  =  |  x = 5  |  x = 5  |
|  +=  |  x += 3  |  x = x + 3  |
|  -=  |  x -= 3  |  x = x - 3  |
|  *=  |  x *= 3  |  x = x * 3  |
|  /=  |  x /= 3  |  x = x / 3  |
|  %=  |  x %= 3  |  x = x % 3  |
|  //=  |  x //= 3  |  x = x // 3  |
|  **=  |  x **= 3  |  x = x ** 3  |
|  &=  |  x &= 3  |  x = x & 3  |
|  /=  |  x /= 3  |  x = x / 3  |
|  ^=  |  x ^= 3  |  x = x ^ 3  |
|  >>=  |  x >>= 3  |  x = x >> 3  |
|  <<=  |  x <<= 3  |  x = x << 3  |

#### Python Comparison Operators

Comparison operators are used to compare two values:

|  Operator   |  Name  |  Example  |
|:------:|:------:|:-------:|
|  ==  |  Equal  |  x == y  |
|  !=  |  Not equal  |  x != y  |
|  >  |  Greater than  |  x > y  |
|  <  |  Less than  |  x < y  |
|  >=  |  Greater than or equal to  |  x >= y  |
|  <=  |  Less than or equal to  |  x <= y  |

#### Python Logical Operators

Logical operators are used to combine conditional statements:

|  Operator   |  Description  |  Example  |
|:------:|:------:|:-------:|
|  and   |  Returns True if both statements are true  |  x < 5 and  x < 10  |
|  or   |  Returns True if one of the statements is true  |  x < 5 or x < 4  |
|  not   |  Reverse the result, returns False if the result is true  |  not(x < 5 and x < 10)  |

#### Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

|  Operator   |  Description  |  Example  |
|:------:|:------:|:-------:|
|  is   |  Returns True if both variables are the same object  |  x is y  |
|  is not   |  Returns True if both variables are not the same object  |  x is not y  |

#### Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

|  Operator   |  Description  |  Example  |
|:------:|:------:|:-------:|
|  in   |  Returns True if a sequence with the specified value is present in the object  |  x in y  |
|  not in   |  Returns True if a sequence with the specified value is not present in the object  |  x not in y  |

#### Python Bitwise Operators

Bitwise operators are used to compare (binary) numbers:

|  Operator   |  Name  |  Description  |
|:------:|:------:|:-------:|
|  &   |  AND  |  Sets each bit to 1 if both bits are 1  |
|  ｜   |  OR  |  Sets each bit to 1 if one of two bits is 1  |
|  ^   |  XOR  |  Sets each bit to 1 if only one of two bits is 1  |
|  ~   |  NOT  |  Inverts all the bits  |
|  <<   |  Zero fill left shift  |  Shift left by pushing zeros in from the right and let the leftmost bits fall off  |
|  >>   |  Signed right shift  |  Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off  |

#### Exercise:

Calculate:

a = 6

b = 2

c = 1

d = 2

a divided by b, times (c plus d)

Hint: 6÷2(1+2) = ?

算算看：6÷2(1+2) = ? 是 1 還是 9 ?

#### Booleans

'True' and 'False' have special meaning in Python.

In [ ]:
a = True
b = False

In [ ]:
# 輸出 a 是否等於 True的寫法，有兩個等號，是表格中的operator(運算子)
a == True

In [ ]:
b == True  # 母丟喔

In [ ]:
a or b  # or 有一個是True就是True

In [ ]:
b or a

In [ ]:
a and b  # a 和 b 兩個都要是True才是True

In [ ]:
b and a

|  AND   |  True  |  False  |
|:------:|:------:|:-------:|
|  True  |  True  |  False  |
|  False |  False |  False  |

|   OR   |  True  |  False  |
|:------:|:------:|:-------:|
|  True  |  True  |  True   |
|  False |  True  |  False  |

#### Math of Numbers: integers, floats and type

Numbers are pretty straightforward, especially in Python 3.

In [ ]:
1 + 2

In [ ]:
1.0 + 2.0

In [ ]:
1 / 2

In [ ]:
1.0 / 2.0

In [ ]:
type(1)

In [ ]:
type(1/2)

In [ ]:
type("字串")

#### Strings

The next four data types -- strings, lists, tuples, arrays -- are all sequences.

Strings are sequences of characters.

In [ ]:
s1 = '嗨!'

In [ ]:
# len 函數，計算字串中有幾個字元，包含標點符號，中文字一個算是1個字元，利用len()計算字元數
len(s1)

In [ ]:
s2 = '大衛!'

In [ ]:
# 以 + operator 連接(concatenate)兩個字串
s3 = s1 + s2
s3

In [ ]:
len(s3)

In [ ]:
# Python中的字串，屬於list的型別(稍晚介紹)一種，可以中括號[]來取出某幾個字
s3[0:1]

In [ ]:
s3[1:2]

In [ ]:
s3[1:]

In [ ]:
s3[:1]

#### print

In [ ]:
# print => 印出文字在 console
print('嗨! 單引號字串!')

In [ ]:
print("雙引號字串 與 單引號字串輸出效果一樣，注意空格也會忠實輸出!")

In [ ]:
# 將剛才的 s3 變數的內容輸出在 console
print(s3)

#### 字串連接
**Option 1: %-formatting** — Original Python syntax.

In [ ]:
# 使用 %s 作為變數，將要組成的變數利用 % ("") 來動態傳入變數
s4 = "天氣真好，%s %s" % (s1, s2)
print( s4 )

**Option 2: str.format()** – Introduced since Python 2.6.

In [ ]:
s4 = "天氣真好，{} {} ".format(s1, s2)
print( s4 )

**Option 3: f"天氣真好，{s1} {s2}"**

In [ ]:
s4 = f"天氣真好，{s1} {s2}"
print( s4 )

In [ ]:
s5 = s4
print(s5)

#### 取代字串中的文字

In [ ]:
s6 = s5.replace("大衛", "大胃王")
print(s6)

### LAB

1. 網路上找到一篇新聞，新聞中必須包含兩個人物的名字，複製其內文，設定於變數 s7
2. 將 s7 中的兩個名字，提換掉成新的名字，並將結果儲存於 變數 s8
3. 輸出 s8

<a id="ListDictionary"></a>

### Python List and Dictionary

#### Lists (串列)

Lists are _mutable_ sequences of anything.

In [ ]:
lst = [3, -5, 6, 8,  10]

In [ ]:
# list 中的第一個元素(element)，索引為0，值為1，索引為1，值為3，依此類推
lst[0]

<img src="images/list01.png">

In [ ]:
lst[2]

In [ ]:
# 取出 0 到 3 索引的值
lst[0:3]

In [ ]:
# 從最後面開始往前取
lst[-1]

<img src="images/list02.png">

In [ ]:
lst[-3]

In [ ]:
# list 裡可以放置多種資料型別的值，也可以是串列中放串列
mlst = [9, 4, 'David', 'Lanz', True, [8, 7]]

In [ ]:
mlst[0]

In [ ]:
mlst[1]

In [ ]:
mlst[5]

In [ ]:
# 第 1 個索引以後，當然包含 mlst[1]
mlst[1:]

In [ ]:
# 兩個串列 list 整合成 一個 串列 list
lst1 = ["a", "b", "c"]
lst2 = ["1", "2", "3"]
lst3 = lst1 + lst2
lst3

In [ ]:
# 利用 append ，新加(附加)一個元素至串列，意即於串列之後的新元素
lst3.append("4")
lst3

#### Dictionaries

Dictionaries or 'dicts' are hash tables, where a key points to a value.

In [ ]:
# name, age 與 birth 在 Dictionary 中稱之為 key，冒號後的稱之為 value，value可以為任何資料型別
d = {'name': 'David', 'age': 25, 'birth': '10/10/1994'}

In [ ]:
d['name']

In [ ]:
d['age']

#### List of Dictionaries

Put dictionaries into list.

In [ ]:
# create empty list
lst = []

In [ ]:
# create two dictionaries
student1 = {'國文': 92, '英文': 82, '數學': 88}
student2 = {'國文': 87, '英文': 89, '數學': 98}

In [ ]:
# append dictionary into list
lst.append(student1)
lst.append(student2)

In [ ]:
lst

In [ ]:
# student1
lst[0]

In [ ]:
# student2
lst[1]

### LAB

1. 建立三個變數 p1, p2, p3，其資料型別為 Dictionary。
2. Dictionary中具有 4 個 key，分別為：文章ID、按讚數、分享數、留言數。
3. 變數 p1, p2, p3 表示三篇發文，包含文章編號、按讚、留言以及分享。
4. 建立一個變數 post_list存放三篇文章
5. 取出的結果

<a id="Markdown"></a>

### Markdown

Cell 可以選 Markdown 模式, 就可以用 Markdown 語法做筆記，就如同這份教材一樣。

點選上方工具列，修改Cell的格式：

<img src="images/notebook_cell_markdown.png">

### 【重點】標題

`# 最大標題`
# 最大標題

`## 副標題`
## 副標題

...

### 【重點】分點說明

我們要學以下幾個套件:

* `matplotlib`
* `numpy`
* `pandas`
* `scikit-learn`

### 【重點】程式碼

顯示程式碼有幾種方式。

#### [1] 前面有若干空白

    for i in range(10):
        print(i)
        
#### [2] 內文可以用斜引號

    `matplotlib`
    
#### [3] 還可以用 3 個引號外加語言

    ```python
    for i in range(10):
        print(i)
    ```

```python
for i in range(10):
    print(i)
```

### 【重點】插入網頁

格式如下

    [網頁名稱](URL)
    
例如

    [大衛的網站](http://jumpin.cc)
    
結果: [大衛的網站](http://jumpin.cc)

### 【重點】插入圖片

    ![圖片名稱](圖片路徑)
    
例如

    ![Python程式設計](images/PythonProgrammer.png)
    
![Python程式設計](images/PythonProgrammer.png)

### 【重點】插入圖片 from Internet

    ![圖片名稱](圖片網址)
    
例如

    ![Python學習地圖](https://miro.medium.com/max/3000/1*ogmp6xjwPQ0-ZUZ86yftMA.png)
    
![Python學習地圖](https://miro.medium.com/max/3000/1*ogmp6xjwPQ0-ZUZ86yftMA.png)

### 【重點】輸入數學符號

支援 LaTeX 指令。

#### 隨文模式

例如

    假設有函數 $f(x) = x^3 - 2x + 5$。
    
[結果] 假設有函數 $f(x) = x^3 - 2x + 5$。

#### 展式模式

例如

    $$\int_a^b f(x) \, dx$$

$$\int_a^b f(x) \, dx$$

### Recap

- Variable data type (String, List and Dictinday)

### LAB

a + b = 5, a × b = 6 求 a, b ?

<iamg src="https://qph.fs.quoracdn.net/main-qimg-2f6fbcc5d10c7f022673f4acad373339">

### LAB: 撰寫 Markdown